/**
  Author: Andrew Jarombek
  Date: 1/28/2018
  Styles for the main page of the web app
 */

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@mixin button-style {
  width: 85px;
  border-radius: 2px;
  transition: background-color .3s ease;
  a {
    color: #fff;
    margin: 0 auto;
  }
}

.navbar-toggler.navbar-left {
  float: left;
  margin-left: 10px;
}

#mobile-nav {
  cursor: pointer;
}

// Make this button smaller on small screens
#login-button {
  @include button-style;
  border-color: #aaa;

  @include media-breakpoint-only(sm) {
    width: 68px;
  }
}

#signup-button {
  @include button-style;
  border-color: #0074D9;
}

#login-button:hover, #login-button:focus {
  background-color: #aaa;
}

#signup-button:hover, #signup-button:focus {
  background-color: #aaa;
}

#nav-buttons {
  @include media-breakpoint-only(xs) {
    text-align: center;
    margin: 0 auto;
    width: 190px;
  }
}

// On small screens shorten the margin between navigation links
.nav-link.mx-4 {
  text-align: center;

  @include media-breakpoint-only(sm) {
    margin-left: 14px !important;
    margin-right: 14px !important;
  }
}
