/**
  Author: Andrew Jarombek
  Date: 1/28/2018
  Styles for the main page of the web app
 */

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../styles";

@mixin button-style {
  width: 85px;
  border-radius: 2px;
  a {
    color: #fff;
    margin: 0 auto;
  }
}

.navbar-toggler.navbar-left {
  float: left;
  margin-left: 10px;
}

.navbar {
  min-height: 100px;
}

#mobile-nav {
  cursor: pointer;
}

// Make this button smaller on small screens
#login-button {
  @include button-style;
  border-color: #aaa;
  @include transition("background-color", $light-gray);

  @include media-breakpoint-only(sm) {
    width: 68px;
    font-size: 12px;
  }
}

#signup-button {
  width: 110px !important;
  @include button-style;
  border-color: $baby-blue;
  @include transition("background-color", $baby-blue);

  @include media-breakpoint-only(sm) {
    width: 85px !important;
    font-size: 12px;
  }
}

#signout-button {
  width: 120px !important;
  @include button-style;
  border-color: $baby-blue;
  @include transition("background-color", $baby-blue);
}

#nav-buttons {

  // In the mobile screen, center both buttons in the navigation pane
  @include media-breakpoint-only(xs) {
    text-align: center;
    margin: 0 auto;
    width: 241px;
    padding-left: 20px;
  }
}

// On small screens shorten the margin between navigation links
.nav-link.mx-4 {
  text-align: center;

  @include media-breakpoint-only(sm) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

#main-component {
  background-color: transparent !important;
}
