<div class="container-fluid">
    <div id="post-container" class="container-fluid">
        <div class="container-fluid" *ngIf="!infoUploaded; else upload_picture">
            <form [formGroup]="formModel" (ngSubmit)="onNext()">
                <input id="post-name"
                       type="text"
                       #postName
                       spy
                       formControlName="name"
                       maxlength="63"
                       placeholder="Name"><br>

                <!-- Show this error if the form has a required error and the field has been touched by the user -->
                <span [hidden]="(!formModel.hasError('required', ['name'])
                                && !formModel.hasError('whitespace', ['name']))
                                || !formModel.get('name').dirty">
                    Name is Required<br>
                </span>
                <input id="post-description"
                       type="text"
                       #postDescription
                       spy
                       formControlName="description"
                       maxlength="511"
                       placeholder="Description"><br>

                <span [hidden]="(!formModel.hasError('required', ['description'])
                                && !formModel.hasError('whitespace', ['description']))
                                || !formModel.get('description').dirty">
                    Description is Required<br>
                </span>
                <button [ngClass]="{'in-progress': inProgressInfo}" type="submit" [disabled]="!formModel.valid">
                    {{nextText}}
                </button><br>
                <span [hidden]="!postInfoError">
                    {{postInfoError}}
                </span>
            </form>
        </div>

        <ng-template #upload_picture>
            <!-- Use *ngIf instead of [hidden]. *ngIf will actually remove and add the html to the DOM while -->
            <!-- [hidden] will actually use CSS styles to hide the contents.  This can cause issues since you -->
            <!-- can actually mistakenly override these hidden styles in your stylesheet! -->

            <!-- Show the image upload contents before the upload is completed -->
            <div class="container-fluid" *ngIf="!uploadCompleted">
                <image-upload [max]="1"
                              buttonCaption="Upload Image"
                              dropBoxMessage="Drop Image Here!"
                              (uploadFinished)="imageUploaded($event)"
                              (removed)="imageRemoved($event)">
                </image-upload>

                <div id="button-group" class="container-fluid">
                    <button id="back-button" type="submit" (click)="onBack()">Back</button>
                    <button [ngClass]="{'in-progress': inProgressPicture}"
                            [disabled]="!pictureUploaded"
                            type="submit"
                            (click)="onSubmit()">
                        {{submitText}}
                    </button><br>
                    <span [hidden]="!postPictureError">
                        {{postPictureError}}
                    </span>
                </div>
            </div>

            <!-- Show the post success contents after the upload is completed -->
            <div class="container-fluid" *ngIf="uploadCompleted">
                <img class="img-fluid logo" src="../../../assets/logoAlt.png">
                <p>Cat Posted Successfully!</p>
                <button id="continue-button" type="submit" (click)="onContinue()">Back</button>
            </div>
        </ng-template>
    </div>
</div>
