/**
 * Author: Andrew Jarombek
 * Date: 2/19/2018
 * Styles for the Post Component
 */

@import "../profile.component";

#back-button, #continue-button {
  background-color: $off-white;
}

#button-group {
  margin-top: 10px;
}

.logo {
  max-width: 30%;
}