/**
 * Author: Andrew Jarombek
 * Date: 2/2/2018
 * Styles for the login component
 */

@import "../../styles.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.border-transition {
  // Call the transaction mixin passing it a css property and style to transition to
  @include transition("border-color", #999);
}

/**
 * Define a general style to be extended for <span> elements in a form
 */
.span-style {
  @include sylexiad;
  color: #990000;
}

/**
 * Define a general style to be extended for <button> elements in a form
 */
.button-style {
  // Extend the functionality of another classes css styling and build on it
  @extend .border-transition;

  @include sylexiad-bold;
  background-color: $baby-blue;
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }
}

/**
 * Define a general style to be extended for <input> elements in a form
 */
.input-style {
  @extend .border-transition;

  @include sylexiad;
  border: #ccc 1px solid;
}

/**
 * Define a general style to be extended to outline a form
 */
.div-style {
  width: 350px;
  margin: 50px auto 0 auto;
  padding: 20px 0 20px 0;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  border: #ccc 1px solid;

  @include media-breakpoint-only(xs) {
    width: 300px;
    margin: 50px auto 0 auto;

    input, button {
      width: 220px !important;
    }
  }

  input, button {
    width: 250px;
    height: 40px;
    margin: 5px;
  }
}

span {
  @extend .span-style;
}

button {
  @extend .button-style;
}

.in-progress {
  background-color: $baby-blue-light;
}

input {
  @extend .input-style;
}

#login-div {
  @extend .div-style;
}